{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
<div class="container">
    {{ if .Params.tags }}
    <div class="subtitle is-6 is-pulled-right">
        {{ partial "tags" .Params.tags }}
    </div>
    {{ end }}
    <h1 class="title">{{ .Title }}</h1>
    <h2 class="subtitle is-6">
        Публикувано на {{ .Date.Format "2006-01-02" }}
        {{ if not (.Lastmod.Equal (.Date) ) }}
        || Последна промяна на {{ .Lastmod.Format "2006-01-02" }}
        {{ end }}
    </h2>
    <div class="content">
        {{ .Content }}
    </div>
    {{ if and (.Site.Params.Info.adsense)  (.Params.adsenseBottom) }}
    {{ partial "adsense" . }}
    {{ end}}

    <div class="contact">
      <p>
        Ако имате коментари по статията или предложение за подобрения, може да
        отворите pull request или issue в GitHub:
        <a href="https://github.com/sanesecurityonline/sane-security.online">https://github.com/sanesecurityonline/sane-security.online</a>.
      </p>

      <br>

      <p>Можете и да ни пишете мейл на <a href="mailto:contact@sanesecurity.online">contact@sanesecurity.online</a>.</p>
    </div>
</div>
</section>

{{ partial "disqus" . }}
{{ partial "footer" . }}
