<section class="section">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="{{ .Site.BaseURL }}"><span class="title is-4">🔐 {{ .Site.Title }}</span></a>
      </div>
      <div class="nav-right">
        <nav class="nav-item level is-mobile">
          {{ if .IsHome }}
            <a class="level-item" href="/faq">ЧЗВ/FAQ</a>
          {{ end }}
          {{- range $platform, $username := .Site.Params.social -}}
          {{- if $username -}}
            <a class="level-item" href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}' target='_blank' rel='noopener'>
            <span class="icon">
              <i class>
                {{- partial "svg/icons" $platform -}}                
              </i>
            </span>
          </a>
          {{- end -}}
          {{- end -}}
        </nav>
      </div>
    </nav>
  </div>
</section>
