{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
<div class="container">
    {{ range sort .Paginator.Pages }}
    {{ if not .Params.notoc }}
    <article>
    <h1 class="title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ if .Draft }} ::Draft{{ end }}
    </h1>
    <h2 class="subtitle is-6">
        Публикувано на {{ .Date.Format "2006-01-02" }}
        {{ if not (.Lastmod.Equal (.Date) ) }}
        || Последна промяна на {{ .Lastmod.Format "2006-01-02" }}
        {{ end }}
    </h2>
    <div class="content">
        {{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
        <a class="button is-link" href="{{ .Permalink }}" style="height:28px">
            Read more
            <span class="icon is-small">
                <i class="fa fa-angle-double-right"></i>
            </span>
        </a>
        {{ end }}
    </div>
    </article>
    {{ end }}
    {{ end }}
</div>
</section>
{{ partial "pager" . }}
{{ partial "footer" . }}
